/*
   jueves, 22 de junio de 202308:46:27 p. m.
   User: 
   Server: DESKTOP-PVBSGPE\MSSQLSERVER02
   Database: AltaBancaTest
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Customers
	(
	CustomerId int NOT NULL IDENTITY (1, 1),
	Names varchar(50) NOT NULL,
	Surnames varchar(50) NOT NULL,
	Birthday datetime NOT NULL,
	CUIT varchar(50) NOT NULL,
	Address varchar(50) NOT NULL,
	Cellphone varchar(50) NOT NULL,
	Email varchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Customers ADD CONSTRAINT
	PK_Customers PRIMARY KEY CLUSTERED 
	(
	CustomerId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Customers SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
